* {
	margin: 0;
	padding: 0;
}

header, #strict, .design, .future, #portfolio, .stay, footer {
	margin: 0 auto;
}

header {
	max-width: 1600px;
	background-color: #f6f9f9;
	display: flex;
	min-height: 100px;
	align-items: center;
}

.logo {
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	margin-left: 253px;
	
}

.logo>img{
	margin-right: 18px;
}

.heading {
	font-family: 'lato bold', sans-serif;
	font-size: 30px;
	line-height: 20px;
	color: #2d3950;
	text-transform: uppercase;
	display: inline-block;
	
}
#strict {
	background-image: url(img/Strict.jpg);
	max-width: 1600px;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

}

.call {
	display: block;
	font-family: 'lato regular', sans-serif;
	font-size: 18px;
	line-height: 47px;
	letter-spacing: 2px;
	color: #fff;
	width: 178px;
	height: 55px;
	border: 1px solid #15a4fa;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0);
	margin-top: 53px;
	transition: 1s;
}

.call:hover {
	box-sizing: border-box;
	cursor: pointer;
	background-color: #15a4fa;
}


.arrow {
	display: block;
	margin-top: 178px;
}

h1 {
	font-family: 'lato bold', sans-serif;
	font-size: 120px;
	line-height: 47px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 7px;
	box-sizing: border-box;
	margin-top: 245px;
}

.line {
	height: 2px;
	margin-top: 33px;
}

.subtitle {
	font-family: 'lato regular', sans-serif;
	font-size: 20px;
	line-height: 47px;
	color: #fff;
	margin-top: 40px;
	
}


.design {
	max-width: 1600px;
	min-height: 338px;
	background-color: #f6f9f9;
	display: flex;
	flex-direction: column;
}

.design>h2 {
	font-family: 'lato regular', sans-serif;
	font-size: 40px;
	color: #2d3950;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 30px;
}

.design p {
	font-family: 'lato regular', sans-serif;
	font-size: 20px;
	line-height: 35px;
	color: #999999;
	text-align: center;
}

.future {
	display: flex;
	max-width: 1600px;
	min-height: 340px;
	justify-content: flex-start;
}

.one, .two, .three {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 62px;
	margin-bottom: 58px;
}

.future figcaption {
	display: block;
	font-family: 'lato regular', sans-serif;
	font-size: 22px;
	color: #2d3950;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25px;
}

.future figure {
	text-align: center;
	
}

.one {
	margin-left: 280px;
}

.two {
	margin-left: 106px;
}

.three {
	margin-left: 75px;
}

.future p {
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	line-height: 22px;
	color: #999999;
	text-align: center;
}

#portfolio {
	max-width: 1600px;
	min-height: 898px;
	background-color: #f6f9f9;
	display: flex;
	flex-direction: column;
}

#portfolio>h2 {
	font-family: 'lato regular', sans-serif;
	font-size: 41px;
	color: #2d3950;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 25px;
}

#portfolio p {
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	line-height: 23px;
	color: #909090;
	text-align: center;
	margin-bottom: 70px;
}
.pictures {
	width: 1140px;
	height: 552px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	overflow: hidden;
	margin: 0 auto;
	
}


.diff {
	background-image: url(img/p1.png);
	width: 360px;
	height: 259px;
	margin: 10px;
	
	
}

.diff1 {
	background-image: url(img/p2.png);
	width: 360px;
	height: 259px;
	margin: 10px;
	
}

.diff2 {
	background-image: url(img/p3.png);
	width: 360px;
	height: 259px;
	margin: 10px;
	
}

.diff3 {
	background-image: url(img/p4.png);
	width: 360px;
	height: 259px;
	margin: 10px;
	
}

.diff4 {
	background-image: url(img/p5.png);
	width: 360px;
	height: 259px;
	margin: 10px;
	
}

.diff5 {
	background-image: url(img/p6.png);
	width: 360px;
	height: 259px;
	margin: 10px;
	
}


.diff_hover {
	width: 360px;
	height: 259px;
	background:rgba(21,164,250,0.9);
	opacity: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: 1s;
}

.diff_hover:hover {
	opacity: 0.9;
}


.btn1 {
	width: 44px;
	height: 44px;
	background: none;
	border: 1px solid white;
	border-radius: 3px;
	margin-right: 9px;
	
}

.btn2 {
	width: 44px;
	height: 44px;
	background: none;
	border: 1px solid white;
	border-radius: 3px;
}



.stay {
	max-width: 1600px;
	min-height: 700px;
	background-image: url(img/strict1.jpg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stay>h2 {
	font-family: 'lato regular', sans-serif;
	font-size: 41px;
	color: #fff;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 25px;
}



.support {
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	line-height: 23px;
	color: #999999;
	text-align: center;
	margin-bottom: 50px;
}

.stay form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stay input {
	width: 556px;
	height: 26px;
	margin-bottom: 21px;
	background: none;
	border: 1px solid #999999;
	border-radius: 3px;
}

input[placeholder] {
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	color: #ffffff;
	padding: 20px 10px;
}

.stay textarea {
	width: 556px;
	height: 160px;
	margin-bottom: 21px;
	background: none;
	border: 1px solid #999999;
	border-radius: 3px;
}

textarea[placeholder] {
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	color: #ffffff;
	padding: 20px 10px;
}

input[type="checkbox"] {
	
	margin: 0;
	width: 18px;
	height: 18px;
	align-self: center;
	vertical-align: sub;
	
}

footer {
	max-width: 1600px;
	min-height: 90px;
	background-color: #f6f9f9;
	display: flex;
	align-items: center;
}

footer>p {
	margin-left: 225px;
	margin-right: 794px;
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	color: #999999;
}

footer div {
	height: 90px;
	display: flex;
	align-items: center;
	
	
}

footer div a {
	margin-left: 4px;
	display: inline-block;
	width: 40px;
	height: 40px;
}

footer div a:hover {
	background-color: #55acee;
	
}

.fa-search-plus {
	color: white;
}

.fa-link {
	color: white;
}

.left {
	align-self: flex-start;
}

.check {
	font-family: 'lato regular', sans-serif;
	font-size: 15px;
	color: #c7cacf;
	margin-left: 15px;
	vertical-align:baseline;
}

.send {
	font-family: 'lato regular', sans-serif;
	font-size: 18px;
	line-height: 47px;
	letter-spacing: 2px;
	color: #fff;
	width: 140px;
	height: 45px;
	border: 1px solid #15a4fa;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0);
	transition: 1s;
	align-self: flex-end;
	box-sizing: border-box;
	margin-left: 262px;
}

.send:hover {
	box-sizing: border-box;
	cursor: pointer;
	background-color: #15a4fa;
